@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:outfit;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
    

}

.header{
    min-height: 100vh;
    width: 100% ;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./IMG_7691.WEBP);
    background-position: center;
    background-size: cover;
   

}
/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    top: 0;
    left: 0;
    z-index: 999;
    
 
}
nav .logo{
   color: white;
   width: 40px;
   font-size: 2rem;
   text-decoration: none;
   text-transform: uppercase;

}
nav .logo span{
    color: #e87502db;

}
.nav-link li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.nav-link li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease-in;
}
.nav-link li a:hover{
    color: #e87502db;
    border-bottom: 2px solid #e87502db;

}
.register-btn{
    text-decoration: none;
    color:white;
    border: 1px solid;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    font-size: 14px;
    padding: 0 5px 0 5px;
    background: #e87502db;
  

}
.container{
    padding: 0 7%;
}
.container2{
    background-color: white;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 22%;
}
.search-bar{
    background: white;
   width: 70%;
   margin: 30px auto;
   padding: 6px 10px 6px 30px;
   border-radius: 50px;

}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
     
}
.search-bar form button{
    background: #e87502db;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;

}
.search-bar form button i{
    font-size: 2rem;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}
.toggle-form{
    position: absolute;
    top: 20%;
}
/* exclusive */

.sub-title{
    margin: 50px 0 50px 40px;
    font-size: 2.2vw;
    font-weight: 500;
    color:#e87502db;
    text-transform: uppercase;
}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 10px;
    /* height: 400px;
    overflow: hidden; */
}
.exclusives div img{
    width: 100%;
    border-radius:30px ;
    padding: 10px;
    height: 90%;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.exclusives div{
    position: relative;
}
.exclusives div .text{
    color:white;

  position: absolute;
  left: 10px;
  bottom: 150px;
  padding: 10px;
  display: none;
 
}
.images:hover .text{
    display: block;
   
    width: 209px;
    height: 200px;
   text-align: center;
}
.see-more{
   cursor: pointer;
   font-size: 1.2rem;
   border-radius: 20px;
   color: #e87502db;
   position: absolute;
   left: 45%;
   margin: 0 0 20px;
}

/* login page */

.wrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: transparent;
   position: relative;
   width: 400px;
   height:400px;
   border: 2px solid rgb(221, 145, 3);
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgb(221, 145, 3);
   left:490px;
   bottom:280px;
   overflow: hidden;
transition: transform .5s ease, .2s ease;
transform: scale(0);
}
.wrapper.active{
    height: 520px;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;

}
.wrapper .form-box.login{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #333;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px ;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: #333;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 0; /* Adjusted to align with the top of the input box */
    left: 15px;
    transform: translateY(-50%); /* Adjusted for vertical centering */
    color: #333;
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #333;
    font-weight: 600;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #333;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    margin: -15px 0 15px;
    font-weight: 500;
    color: #333;
    justify-content: space-between;
    display: flex;

}
.remember-forgot label input{
    accent-color: #333;
    margin-right: 3px;
}
.remember-forgot a{
    color: #333;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #333;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
/* search bar 1 */

.search-bar1{
    background: white;
   width: 20%;
   margin: 30px auto;
   padding: 6px 10px 6px 30px;
   border-radius: 50px;
   position: fixed;
   top: 0;
   right: 5%;
   display: none;
   z-index: 1;

}
.search-bar1 form{
    display: flex;
    align-items: center;
    gap: 50px;
}
.search-bar1 form button{
    background: #e87502db;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;

}
.search-bar1 form button i{
    font-size: 2rem;
}
.location-input{
    flex: 1;
}
.search-bar1 form label{
    font-weight: 600;
}
.exclusives .active-popup{
    display: block;
    transform: scale(1);
}


/* how it works */
.how-it-works{
    width: 100%;
    height: 80vh;
    background: #f29231db;
    margin-top: 20px;
}
.hiw-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hiw-left{
    margin: 15vh 0 0 11%;
    width: 50%;
}
.hiw-left h2{
    font-size: 3rem;
    font-weight: 500;
    color: rgb(45, 45, 104);
}
.hiw-left p{
    font-size: 20px;
    padding: 10px 0 10px;
    font-weight: 60;
}
.hiw-left button{
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(244, 85, 5);
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.hiw-left button:hover{
    background-color: white;
    color: #333;
}
.hiw-list{
    margin: 15vh 9vh 0 0;
    width: 50%;

}
.hiw-list li{
padding: 20px;
font-size:20px ;
color: rgb(45, 45, 104);
list-style: none;

}
.hiw-list li i{
    font-size: 40px;
}
.hiw-list li h2{
    font-weight: 400;
    padding: 10px 0 0 0;
}
.hiw-list li p{
    font-size: 13px;
}







/* contact.html */
.contact-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    top: 0;
    left: 0;
 
    background-color:#333;
    border-bottom: 1px solid #333;
    position: fixed;
    width: 100%;
   
    
 
}
.contact-nav .logo-contact{
   color: white;
   width: 40px;
   font-size: 2rem;
   text-decoration: none;
   text-transform: uppercase;

}
.contact-nav .logo-contact span{
    color: #e87502db;
    position: fixed;
    left: 14%;
    bottom: 92.7%;
    font-size: 2rem;
}
.nav-link li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.nav-link li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease-in;
}
.nav-link li a:hover{
    color: #e87502db;
    border-bottom: 2px solid #e87502db;

}







/* MEDIA QUERY */
@media(max-width:430px){
    /* nav part */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 7%;
        top: 0;
        left: 0;
        z-index: 999;
        
     
    }
    nav .logo{
       color: white;
       width: 10px;
       font-size: 1.7rem;
       text-decoration: none;
       text-transform: uppercase;
    
    }
    nav .logo span{
        color: #e87502db;
    
    }
    .nav-link li{
        display: none;
        
    }
    .register-btn{
        border: 1px solid;
        height: 35px;
        border-radius: 3rem;
        font-size: 12px;
        padding: 0 9px 0 9px;
    }



    /* container part */
    .container{
        padding: 0 7%;
        
        
    }
    .header h1{
        font-size: 10vw;
        font-weight: 500;
        color: white;
        text-align: center;
        padding-top: 33%;
    }
    .search-bar{
        background: white;
       width: 70%;
       margin: 50px auto; 
       padding: 6px 10px 6px 30px;
       border-radius: 50px;
       height:45vh;
    
    }
    .search-bar form{
        display: flex;
        align-items:center;
        flex-wrap:wrap ;
        gap: 25px;
        margin: 5px;
        padding: 10px;
        font-size: 29px;
        color: #333;
    }
    .search-bar form button{
        background: #e87502db;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 0;
        outline: none;
        cursor: pointer;
        
    
    }
 

    /* floating location */

    .search-bar1{
        background: white;
       width: 50%;
       margin: 30px auto;
       padding: 6px 10px 6px 30px;
       border-radius:45px;
       position: fixed;
       top: 0;
       right: 5%;
       display: none;
       z-index: 1;
  
    
    }
    .search-bar1 form{
        display: flex;
        align-items: center;
        gap: 7px ;
     
    }
    .search-bar1 form button{
        background:white;
        color: black;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    
    
   

    /* Wrapper */

    .wrapper{
        justify-content: center;
        display: flex;
        align-items: center;
        background:url(./loginform.JPG) ;
       position: relative;
       width: 400px;
       height:400px;
       border: 2px solid rgb(221, 145, 3);
       border-radius: 20px;
       backdrop-filter: blur(20px);
       box-shadow: 0 0 30px rgb(221, 145, 3);
       left:4%;
       overflow: hidden;
    transition: transform .5s ease, .2s ease;
    transform: scale(0);
    text-decoration: black;

    }
    
    
}


